<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <util:list id="trackList">
        <value>Sgt. Pepper's Lonely Hearts Club Band</value>
        <value>With a Little Help from My Friends</value>
        <value>Lucy in the Sky with Diamonds</value>
        <value>Getting Better</value>
        <value>Fixing a Hole</value>
    </util:list>

    <bean id="compactDisc" class="soundsystem.SgtPeppers" >
        <!--<constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band" />-->
        <!--<constructor-arg value="The Beatles" />-->
    </bean>
    <!--<bean id="compactDisc" class="soundsystem.collections.BlankDisc" >-->
        <!--&lt;!&ndash;<constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band" />&ndash;&gt;-->
        <!--&lt;!&ndash;<constructor-arg value="The Beatles" />&ndash;&gt;-->
        <!--&lt;!&ndash;<constructor-arg>&ndash;&gt;-->
            <!--&lt;!&ndash;<list>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>Sgt. Pepper's Lonely Hearts Club Band</value>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>With a Little Help from My Friends</value>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>Lucy in the Sky with Diamonds</value>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>Getting Better</value>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>Fixing a Hole</value>&ndash;&gt;-->
            <!--&lt;!&ndash;</list>&ndash;&gt;-->
        <!--&lt;!&ndash;</constructor-arg>&ndash;&gt;-->
        <!--<property name="title" value="Sgt. Pepper's Lonely Hearts Club Band" />-->
        <!--<property name="artist" value="The Beatles" />-->
        <!--<property name="tracks" ref="trackList" />-->
    <!--</bean>-->
    <!--<bean id="cdPlayer" class="soundsystem.CDPlayer">-->
        <!--&lt;!&ndash;<constructor-arg ref="compactDisc" />&ndash;&gt;-->
        <!--<property name="cd" ref="compactDisc" />-->
    <!--</bean>-->
</beans>